body{
  margin: 0;
  padding: 0;
  background: #ffeccc;
}

header{
  width: 100%;
  height: 100px;
  background: #fdad17;
  position: absolute;
  top: 0;
}

nav{
  width: 100%;
  height: 100%;
  position: relative;
}

.navbar{
  width: 40%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 20px;
}

.navbar ul{
  height: 100%;
  margin:0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navbar li{
  list-style: none;
}

.navbar li a{
  font-size: 26px;
  color: #ffeccc;
  text-decoration: none;
  font-weight: 700;
}

.navbar li a:hover{
  color: #005248;
}

.home{
  position: absolute;
  width: 90%;
  height: auto;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home h1{
  text-align: center;
}

.container-form-connexion{
  position: absolute;
  width: 60%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background:#a48255;
  border-radius: 10px;
  padding: 40px 10px 40px 10px ;
}

.container-form-connexion h1{
 text-align: center;
 color: #ffeccc;
}

.form-connexion{
  width: 70%;
  height: auto;
  margin: 0 auto;
}

.connexion-pseudo, .connexion-mdp{
  width: 80%;
  margin:0 auto;
}
.connexion-mdp{
  margin-top: 20px;
}
.connexion-pseudo input, .connexion-mdp input{
  width: 100%;
  height: 30px;
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #ffeccc;
  outline: none;
  color:#ffeccc;
  font-size: 16px;
}

.connexion-pseudo input::placeholder, .connexion-mdp input::placeholder{
  color:#ffeccc;
  font-weight: 700;
  font-size: 16px;
}

.information{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.information a{
  margin-right: 20px;
  text-decoration: none;
  color: #005248;
  font-size: 16px;
}
.information a:hover{
  color: #ffeccc;
}
.button-connexion{
  width:80%;
  height: 35px;
  margin: 0 auto;
}

.button-connexion button{
  width: 120px;
  height: 35px;
  text-transform: uppercase;
  display: block;
  float: right;
  margin: 20px 0px 10px 0px;
  background: #005248;
  color: #ffeccc;
  border: 1px solid #005248;
  border-radius: 5px;
  cursor: pointer;
}

.button-connexion button:hover{
  background: #ffeccc;
  color: #005248;
}

.container-inscription{
  width: 50%;
  height: auto;
  background:#a48255;
  border-radius: 10px;
  padding: 40px 10px 40px 10px ;
  margin: 200px auto 100px auto;
}
.container-inscription h1{
  text-align: center;
  color: #ffeccc;
}
.container-form-inscription{
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}

.form-inscription{
  width:50%;
  height: auto;
  margin: 0 auto;
}

.inscription-input{
  width: 100%;
  height: auto;
  margin-top: 25px;
}
.inscription-input input{
  width: 100%;
  height: 30px;
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #ffeccc;
  outline: none;
  color:#ffeccc;
  font-size: 16px;
}
.inscription-button button{
  width: 120px;
  height: 35px;
  text-transform: uppercase;
  display: block;
  float: right;
  margin: 20px 0px 10px 0px;
  background: #005248;
  color: #ffeccc;
  border: 1px solid #005248;
  border-radius: 5px;
  cursor: pointer;
}
.inscription-button button:hover{
  background: #ffeccc;
  color: #005248;
}
#container-condition {
  display:none;
  color: #000;
  margin-top: 100px;
}
.valid {
  color: green;
}
.valid:before{
  content: "✔";
}
.invalid {
  color: red;
}
.invalid:before{
  content: "✖";
}

  /* Style the container for inputs */
  /* .container {
    background-color: #f1f1f1;
    padding: 20px;
  } */
  
  /* The message box is shown when the user clicks on the password field */
  /* #message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
  }
  
  #message p {
    padding: 10px 35px;
    font-size: 18px;
  } */
  
  /* Add a green text color and a checkmark when the requirements are right */
  /* .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    content: "✔";
  } */
  
  /* Add a red text color and an "x" when the requirements are wrong */
  /* .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
  } */